<extend name="Common/common"/>
<block name="css">
    <style type="text/css">
        .layui-form-select .layui-edge {
            right: 25%;
        }

        .layui-form-select dl {
            min-width: 80%;
        }

    </style>
</block>
<block name="body">
    <form class="layui-form search" action="" name="search">
        <div class="layui-row">
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                <select name="course_id">
                    <option value="">请选择所属课程</option>
                    <foreach name="course_data" item="val" key="key">
                        <option value="{$key}">{$val}</option>
                    </foreach>
                </select>
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                <input type="text" name="test_paper_name" value="{:I('get.test_paper_name')}" placeholder="请输入试卷名称"
                       class="layui-input">
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                <button class="layui-btn search" type="button"><i class="layui-icon">
                    &#xe615;</i>查询
                </button>
                <a class="layui-btn layui-btn-danger" href="{:U('add')}"><i class="layui-icon">
                    &#xe654;</i>添加试卷
                </a>
            </div>
        </div>
    </form>
    <table class="layui-hide" id="table" lay-filter="table"></table>
</block>
<block name="js">
    <script type="text/html" id="table-edit">
        <a class="layui-btn layui-btn-xs" href="{:U('update')}?id={{d.id}}">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" href="{:U('Question/add')}?test_paper_id={{d.id}}">添加试题</a>
    </script>
    <script>
        $(function () {
            var url = "{:U('index')}";
            form.render();
            var get_param = $('form.search').serialize();
            var get_url = url + '?' + get_param;
            getData(get_url);
            $('form.search').on('click', 'button.search', function () {
                var param = $('form.search').serialize();
                var get_url = url + '?' + param;
                getData(get_url);
            });

            /**
             * 获取数据
             * @param url
             */
            function getData(url) {
                table.render({
                    elem: '#table'
                    , url: url
                    , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                        , groups: 5 //只显示 1 个连续页码
                    }
                    , cellMinWidth: 100
                    , cols: [[
                        {field: 'id', title: '试卷ID', sort: true}
                        , {field: 'course', width: 200, title: '课程名称'}
                        , {field: 'test_paper_name', width: 200, title: '试卷名称'}
                        , {field: 'question_info', width: 260, title: '试题信息'}
                        , {field: 'add_time', width: 160, title: '添加时间'}
                        , {field: 'update_time', width: 160, title: '更新时间'}
                        , {fixed: 'right', title: '操作', toolbar: '#table-edit', width: 200}
                    ]],
                });
            }
        })
    </script>
</block>