<extend name="Common/common"/>
<block name="body">
    <fieldset class="layui-elem-field w80">
        <legend>编辑试卷信息</legend>
        <div class="layui-field-box">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">试卷名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="test_paper_name" value="{$info.test_paper_name}" placeholder="请输入试卷名称"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <input type="hidden" name="id" value="{$info.id}">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="submit" type="submit">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</block>
<block name="js">
    <script>
        $(function () {
            form.render();
            form.on('submit(submit)', function (data) {
                var _this = this;
                _this.disabled = true;
                $.post("{:U('save')}", data.field, function (res) {
                    if (res.status == 1) {
                        layer.msg(res.info, function () {
                            location.href = "{:U('index')}"
                        });
                    } else {
                        _this.disabled = false;
                        layer.msg(res.info);
                    }
                });
                return false;
            });
        })
    </script>
</block>
