<extend name="Common/common"/>
<block name="body">
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon">&#xe606;</i> 系统设置</div>
                    <div class="layui-card-body">
                        设置系统相关配置信息
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon">&#xe606;</i> 广告管理</div>
                    <div class="layui-card-body">
                        Apple主页顶部广告栏目数据
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon">&#xe606;</i> 健康管理员</div>
                    <div class="layui-card-body">
                        健康管理员【培训师】
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon">&#xe606;</i> 养育人-宝宝</div>
                    <div class="layui-card-body">
                        养育人-宝宝信息收集、录入
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon">&#xe606;</i> 课程管理</div>
                    <div class="layui-card-body">
                        课程信息展示及录入
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon">&#xe606;</i> 知识点管理</div>
                    <div class="layui-card-body">
                        课程所涉及知识点展示及录入
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon">&#xe606;</i> 试卷管理</div>
                    <div class="layui-card-body">
                        试卷创建及展示
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon">&#xe606;</i> 试题管理</div>
                    <div class="layui-card-body">
                        试题创建及展示
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon">&#xe606;</i> 意见反馈</div>
                    <div class="layui-card-body">
                        意见反馈信息展示及回复
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>

    </script>
</block>